@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	box-sizing: border-box;
}



body {
	margin: 0px 10%;
	padding: 0px;
	font-family: 'roboto', sans-serif;
}

nav {
	height: 100px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 80%;
	background-color: white;
	
}

.logo {
	flex: 40%;
	/* border: 1px solid red; */
}

.logo h1 {
	display: inline-block;
	font-family: 'lobster two', 'cursive';
	font-weight: bold;
	font-size: 1.8em;
	color: #192236;
	text-shadow: 1px 1px 2px #e7c272b8;
	border: 1px solid #4b6774;
	padding: 5px;
	border-radius: 10px;
}

.menu {
	flex: 60%;
	/* border: 1px solid blue; */
	text-align: right;
	padding: 0px, 20px;
}

.menu a {
	text-decoration: none;
	color: #192236;
	font-weight: bold;
	padding: 20px;	
}

.menu a:hover {
	color: #ed46a7;
	border-top: 4px solid #192236;
}

#botao {
	display: inline-block;
	background-color: #192236;
	border-radius: 5px;
	color: aliceblue;
	padding: 10px;	
}

#botao:hover {
	background-color: #934cb6;
	border: none;

}


.menu-mobile {
	display: none;
	margin-top: 10px;
	text-align: center;
}

.menu-mobile a {
	text-decoration: none;
	color: #192236;
	padding: 0px 10px;
}

.menu-mobile a:hover {
	color: #ed46a7;
	border-top: 4px solid #192236;
}

.logo-mobile {
	display: none;
}

.logo-mobile h1 {
		text-align: center;
		font-family: 'lobster two', 'cursive';
		font-weight: bold;
		font-size: 1.8em;
		color: #192236;
		text-shadow: 1px 1px 2px #e4a92a;
		border: 1px solid #4b6774;
		padding: 5px;
		border-radius: 10px;
}


header {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding-top: 120px;
}

.headline {
	flex: 45%;
	border-radius: 10px;
	padding: 25px;
	text-align: justify;
	border-radius: 20px;
	box-shadow: 3px 3px 5px #7a3c9773;
}

.headline h2 {
	font-weight: 900;
	font-size: .9em;
	color: #192236;
	margin: 0px;
}

.img-headline {
	flex: 45%;
	text-align: right;
}

.img-headline img {
	width: 90%;
	/* border-radius: 20px;
	box-shadow: 0px 0px 5px #9147b34c;  */
}

.contratebtn {
	display: inline-block;
	background-color: #f6b324;
	font-size: .8em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
	color:rgb(255, 255, 255);
	border-radius: 6px;
	padding: 10px;
	box-shadow: 1px 1px 4px #9147b380;
}

.contratebtn:hover {
	background-color: #192236;
	box-shadow: none;
	
}

section {
	display: inline-block;
	text-align: center;
	
}

section h2 {
	display: block;
	font-family: 'lobster two', 'cursive';
	font-size: 1.5em;
	color: #192236;
	width: 100%;
}

.serviços {
	display: inline-block;
	margin: 3%;
}

.card {
	display: inline-block;
	font-size: .8em;
	width: 30%;
	margin: 1%;
	padding: 20px;
	border-radius: 10px;
}

.texto-oculto {
	display: none;
}

.card:hover {
	background-color: #7824a5;
	color: white;
	cursor: pointer;
	padding: 50px;
}

.card:hover img {
	display: none;
} 

.card:hover .texto-card {
	display:none;
}

.card:hover .texto-oculto {
	display: block;
}

.card:hover .texto-oculto {
	display: block;
}


footer {
	margin-top: 80px;
	height: 300px;
	background-image: linear-gradient(180deg, #27424f, black);
	text-align: center;
	border-top: 4px solid #fac655;
}

.logo-rodape {
	padding: 60px;
	color: aliceblue;
	scroll-behavior: none;
}

.logo-rodape h1 {
	font-family: 'lobster two', 'cursive';
	font-weight: bold;
	font-size: 1.8em;
	text-shadow: 1px 1px 3px rgba(240, 248, 255, 0.46);
}